<!-- <p style="display:block">
This block will be visible </p>
<P style="display:none">
This block will not visible and got load in DOM</P> -->


<p *ngIf="true">
  This block will be visible </p>
  <P *ngIf="false">
  This block will not visible and not got  load in DOM structure</P> 


   <div *ngIf="EmployeeList;then listAvailable; else nolistAvailable">
   EmployeeList is available
   </div>
   <ng-template #nolistAvailable>
    EmployeeList is not available

   </ng-template>                                  
   <ng-template #listAvailable>
    <div *ngFor="let employee of EmployeeList; index as i; even as e; first as f; last as l">
      <div [ngSwitch]="employee.Gender">
        <!--<div *ngSwitchCase="'m'" [ngStyle]="{'color':'Green'}">              "'m'" this representing m as string not an property
        {{i}}.{{employee.name}}-Even:{{e}}-First:{{f}}-Last:{{l}}
        </div>
        <div *ngSwitchCase="'f'" [ngStyle]="{'color':'Orange'}">                    "'m'" this representing m as string not an property
          {{i}}.{{employee.name}}-Even:{{e}}-First:{{f}}-Last:{{l}}
          </div>-->
          <div [ngClass]="{'formale':employee.Gender=='m','forfemale':employee.Gender=='f'}">             
            {{i}}.{{employee.name}}-Even:{{e}}-First:{{f}}-Last:{{l}}
            </div>
            <div *ngSwitchCase="'f'" [ngStyle]="{'color':'Orange'}">                    
              {{i}}.{{employee.name}}-Even:{{e}}-First:{{f}}-Last:{{l}}
              </div>
        <!-- <div *ngSwitchDefault>
         Default: {{employee.name}}
        </div> -->
      </div>
    </div>
   </ng-template>

   <!-- <ng-template>Hi</ng-template>   ngtemplate is not directly render to the DOM
<ng-template>
  <p>Hip!</p>
</ng-template>
<p>Hooray!</p> -->

<app-componentforservice></app-componentforservice>




    
   
    


 

  